body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    position: relative; 
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    padding: 20px;
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative; 
}

.main {
    width: 80%;
    padding: 20px;
    background-color: #f5f5f5;
    overflow-y: auto; 
    position: relative; 
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.item {
    background-color: #b0b0b0;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.numero-item {
    background-color: #d0d0d0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.conteudo-item {
    flex-grow: 1;
    margin-left: 20px;
}


#obj1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 80px;
    height: 50px;
    background-color: #8c8c8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


#obj3 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 50px;
    background-color: #8c8c8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#obj1:hover, #obj3:hover {
    background-color: #6a6a6a;
}
